{% extends 'base.html.twig' %}

{% block title %}Le super blog{% endblock %}

{% block body %}
<a class="btn btn-success"  style="margin-bottom:10px" href="{{path('new')}}"><i class="fas fa-plus-square" style="font-size:20px"></i></a>
<ul>
    {% for row in result %}
      <li style="list-style-type:none; margin-bottom:10px">
        <a class="btn btn-info" href="{{path('edition',{id:row.id})}}"><i class="fas fa-pen" style="font-size:20px"></i></a>
        <a class="btn btn-warning"  href="{{path('article',{id:row.id})}}"><i class="fas fa-eye" style="font-size:20px"></i></a>
        <a class="btn btn-danger" href="{{path('remove_article',{id:row.id})}}"><i class="fas fa-trash" style="font-size:20px"></i></a>
        {{row.title}}
      </li>
    {% endfor %}
</ul>

{% endblock %}