{% extends 'base.html.twig' %}

{% block title %}Le super blog{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row d-flex flex-column">
    {% for row in result %}
      <a style="text-decoration:none; color:black" href="{{path('article',{id:row.id})}}">
        <div>
          <h3>{{row.title}}</h3>
          <p>{{row.lead_paragraph}}
          <p style="color:blue">Lire la suite</p>
        </div>
      </a>
      <hr style="border-width:10px; background-color:black;">
    {% endfor %}
  </div>
</div>

{% endblock %}
